body{
    background-color: rgba(0, 0, 0, 0.897);
    height: 100vh;
}

.dg1{
    width: 7rem;
    height:3rem;
    margin: 40px;
    background-color: rgba(0, 0, 0, 0.897);
    text-align: center;
    font-weight: bold;
    color: darkkhaki;
}

.dg2{
   width: 7rem;
   height:3rem;
   margin: 40px;
   background-color: rgba(0, 0, 0, 0.897);
   text-align: center;
   font-weight: bold;
   color: darkkhaki;
}


.flex-container{
 display: flex;

}

.main{
justify-content: center;
align-items: center;
height: 750px;

}

.main2{
flex-direction: column;
flex-wrap: wrap;
}

.main3{
flex-direction: column;
flex-wrap: wrap;
}

.heading{
justify-content: center;
align-items: center;
position: absolute;
top: 150px;
font-size: 2rem;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
color: rgba(109, 216, 95, 0.733);
}
.dg4{
position: absolute;
bottom: 150px;
font-weight: bold;
width: 7rem;
height: 2.5rem;
}

.fonty{
    color: rgba(109, 216, 95, 0.733);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}